/*
 Copyright (c) 2008 by contributors:

 * Damitha Premadasa
 * Nilendra Weerasinghe
 * Thilina Dampahala
 * Waruna Ranasinghe - (http://warunapw.blogspot.com)

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
*/

<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <XClient.Properties.Settings>
            <setting name="XClient_com_xignite_www_XigniteHistorical" serializeAs="String">
                <value>http://www.xignite.com/xHistorical.asmx</value>
            </setting>
            <setting name="XClient_com_xignite_XigniteRates" serializeAs="String">
                <value>https://xignite.com/xRates.asmx</value>
            </setting>
        </XClient.Properties.Settings>
    </applicationSettings>
  
  <appSettings>
    <add key="mnConnectionString" value="server=10.8.102.26;user id=root;Password=cig4123;database=hpc4finance;persist security info=True"/>
    <add key="spConnectionString" value="server=10.8.102.26;user id=root;Password=cig4123;database=stockprices;persist security info=True"/>
    <add key="irConnectionString" value="server=10.8.102.26;user id=root;Password=cig4123;database=interestrates;persist security info=True"/>
    <add key="mnIP" value="10.8.102.27"/>
    <add key="mnServicePort" value="8080"/>
    <add key="username" value="thdamp@gmail.com"/>
    <add key="password" value="dama123"/>
  </appSettings>

  <userSettings>
    <XClient.Properties.Settings>
      <setting name="mnConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="dataConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="mnIP" serializeAs="String">
        <value />
      </setting>
      <setting name="mnServicePort" serializeAs="String">
        <value />
      </setting>
      <setting name="username" serializeAs="String">
        <value />
      </setting>
      <setting name="password" serializeAs="String">
        <value />
      </setting>
      <setting name="nMC" serializeAs="String">
        <value>50000</value>
      </setting>
      <setting name="nodes" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="background" serializeAs="String">
        <value>false</value>
      </setting>
    </XClient.Properties.Settings>
  </userSettings>
</configuration>
